@import "tailwindcss";

@theme inline {
  --color-primary: #12372A;
  --color-secondary: #436850;
  --color-third: #ADBC9F;
  --color-broken-white: #F6F6F6;
  --color-acc: #70B44E;
}

/* .icon-size {
  @apply w-5 h-5;
} */